Resources/config/schema/recaptcha-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://excelwebzone.com/schema/dic/ewz/recaptcha"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://excelwebzone.com/schema/dic/ewz/recaptcha"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:attribute name="public_key" type="xsd:string" />
        <xsd:attribute name="private_key" type="xsd:string" />
        <xsd:attribute name="secure" type="xsd:boolean" />
    </xsd:complexType>
</xsd:schema>
